[Unit]
Description=Remote desktop service (VNC)
After=syslog.target network.target

[Service]
Type=forking
User=pi
PAMName=login
PIDFile=/home/pi/.vnc/%H:%i.pid
ExecStartPre=-/usr/bin/tightvncserver -kill :%i > /dev/null 2>&1
ExecStart=/usr/bin/tightvncserver -depth 24 -geometry 1280x800 :%i
ExecStop=/usr/bin/tightvncserver -kill :%i

[Install]
WantedBy=multi-user.target
