# The unique container tracking identifier used by the central dashboard engine.
CONTAINER_NAME=running-metasploit-rig

# Absolute or relative host directory where Metasploit console configurations and framework data persist.
HOST_MSF_DATA_PATH=./.msf4

# Toggle the automatic startup execution of the backend PostgreSQL database infrastructure for Metasploit.
# Format: Boolean (true / false)
START_METASPLOIT_DB=true
